[submodule "zbench-fun/lib/libs/zbench"]
	path = zbench-fun/lib/libs/zbench
	url = https://github.com/hendriknielaender/zBench
[submodule "json-lib-fun/libs/libs/json"]
	path = json-lib-fun/libs/libs/json
	url = https://github.com/getty-zig/json.git
[submodule "json-lib-fun/libs/libs/libs/getty"]
	path = json-lib-fun/libs/libs/libs/getty
	url = https://github.com/getty-zig/getty.git
[submodule "zig-strings-lib/libs/zig-strings"]
	path = zig-strings-lib/libs/zig-strings
	url = https://github.com/JakubSzark/zig-string.git
[submodule "iter-zig-fun/libs/iter-zig"]
	path = iter-zig-fun/libs/iter-zig
	url = https://github.com/eldesh/iter-zig.git
[submodule "iter-zig-fun/libs/basis_concept"]
	path = iter-zig-fun/libs/basis_concept
	url = https://github.com/eldesh/basis_concept-zig.git
